:root {
  --main-color: #253d60;
  --accent-color: #FF7F50;
}
body {
  background-color: var(--main-color);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  display: block;
  margin: 20px auto;
  border-radius: 15px;
  max-width: 90%;
  height: auto;
}
h1 {
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-size: 2rem;
}
.banner, .yt, .fc, .lp, .Tk, .tg, .wh {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.yt img,
.fc img,
.lp img,
.Tk img,
.tg img,
.wh img {
  background-color: aliceblue;
  display: block;
  border-radius: 15px;
  transition: all 0.3s ease;
  padding: 6px;
  margin: 10px;
  width: 180px;
  height: auto;
  max-width: 100%;
}
.yt img:hover {
  transform: scale(1.08);
  box-shadow: 0 0 35px rgba(230, 57, 70, 0.9);
  background-color: #c56666;
}

.fc img:hover {
  transform: scale(1.08);
  box-shadow: 0 0 35px #0865ff;
  background-color: #649fff;
}

.lp img:hover {
  transform: scale(1.08);
  box-shadow: 0 0 35px #0dafb9;
  background-color: rgba(56, 169, 175, 0.45);
}

.Tk img:hover {
  transform: scale(1.08);
  box-shadow: 0 0 35px #000000;
  background-color: rgb(63, 63, 63);
}

.tg img:hover {
  transform: scale(1.08);
  box-shadow: 0 0 35px #3fa9e3;
  background-color: #8fc5e2;
}
.wh img:hover {
  transform: scale(1.08);
  box-shadow: 0 0 35px #1bd742;
  background-color: #65c779;
}
.corner-gif {
  position: fixed;
  bottom: 15px;
  left: 15px;
  width: 100px;
  height: auto;
  z-index: 9999;
  pointer-events: none;
}
.fixed-image {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100px;
  height: auto;
  z-index: 1000;
}
@media (max-width: 768px) {
  h1 {
    font-size: 1.6rem;
  }

  .yt img,
  .fc img,
  .lp img,
  .Tk img,
  .tg img,
  .wh img {
    width: 180px;
    padding: 8px;
  }

  .corner-gif {
    width: 100px;
    bottom: 10px;
    left: 10px;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 1.4rem;
  }

  .yt img,
  .fc img,
  .lp img,
  .Tk img,
  .tg img,
  .wh img {
    width: 190px;
    margin: 5px;
  }
}
